@import '../../common/less/util.less';
.imgDownload{
  min-height: 100vh;
  background: rgba(255,255,255,1);
}
img{
 width: 100%;
 height: auto
}
.saveFile{
  height: 40*@2;
  line-height: 40*@2;
  color: #fff;
  background:#FE4C52;
  border-radius: 2px;
  position: fixed;
  bottom: 8px;
  width: 345px;
  margin-left:15px;
}