.page__hd {
    height: 220px;
    padding-top: 20px;
  }
  .vip-card {
    width: 88%;
    height: 180px;
    margin: 20px auto;
    line-height: 180px;
    text-align: center;
    border: 1px solid;
  }
  .weui-cell {
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0px;
    margin: 0px 25px;
  }
  .weui-cell:before,
  .weui-cells:before {
    border-top: none;
  }
  .weui-cells:after {
    border-bottom: none;
  }
  .open-vip {
    font-size: 16px;
  }
  .border-middle {
    border-bottom: 1px solid rgb(241, 241, 241);
  }
  .addGift_div {
    width: 100%;
    background-color: white;
  }
  .add_gift {
    font-size: 12px;
    padding: 10px 0;
    margin: 0 25px;
    border-top: 0.5px solid rgb(241, 241, 241);
    text-align: center;
    color: red;
  }
  